{% extends "base.html" %}

{% block content %}
    <h1>Create Customer</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="document_set">Document Set</label>
            <select class="form-control" id="document_set" name="document_set">
                {% for document_set in document_sets %}
                    <option value="{{ document_set.id }}">{{ document_set.name_of_document }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="attached_file">Attached File</label>
            <input type="file" class="form-control-file" id="attached_file" name="attached_file">
        </div>
        <button type="submit" class="btn btn-primary">Create Customer</button>
    </form>
{% endblock %}
